data_whisper
data_whisper-
out
livetranslation.bat
temp
desktop.ini
models
build.bat
build
dist
.vscode/settings.json
last_saved_timestamp.txt
last_checked_timestamp.txt
error_report.txt
livetranslation - Copy.bat
*.pyc
