data_whisper
data_whisper-
out
livetranslation.bat
temp
desktop.ini
models
build
dist
server.pid
wiki
.vscode/settings.json
last_saved_timestamp.txt
last_checked_timestamp.txt
error_report.txt
livetranslation - Copy.bat
*.pyc
__pycache__
modules/__pycache__/warnings.cpython-310.pyc
modules/__pycache__/version_checker.cpython-310.pyc
modules/__pycache__/parser_args.cpython-310.pyc
modules/__pycache__/model_downloader.cpython-310.pyc
modules/__pycache__/languages.cpython-310.pyc
modules/__pycache__/discord.cpython-310.pyc
modules/__pycache__/console_settings.cpython-310.pyc
.idea
cookies/
patchfile.patch
tmp.bat
Synthalingua_Wrapper/bin
Synthalingua_Wrapper/obj
Synthalingua_Wrapper/.vs
hls_segments
repo.txt
data_whisper.old
conda
7zr.exe
ffmpeg
ffmpeg_path.bat
yt-dlp_win
models.bk/
docs/
/audiofile_tests
/data_whisper-backup
*.xml
/downloaded_assets
