gitpython
git+https://github.com/openai/whisper.git
colorama
numpy
tqdm
more-itertools
ffmpeg-python==0.2.0
pyaudio
SpeechRecognition
prettytable
torch
requests
pytz
python-dateutil
numba
humanize
tzlocal
