arrow
backports-datetime-fromisoformat
binaryornot
blinker
Brotli
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
cookiejar
filelock
Flask
fsspec
humanize
idna
itsdangerous
Jinja2
llvmlite
m3u8
markdown-it-py
MarkupSafe
mdurl
more-itertools
mpmath
mutagen
networkx
numba
numpy
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
pager
pillow
prettytable
PyAudio
pycryptodomex
Pygments
python-dateutil
python-slugify
pytz
PyYAML
regex
requests
rich
semantic-version
setuptools-rust
six
SpeechRecognition
sympy
text-unidecode
tiktoken
tomli
tqdm
types-python-dateutil
typing_extensions
tzdata
tzlocal
urllib3
wcwidth
websockets
Werkzeug
yt-dlp