<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Synthalingua_Wrapper.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Synthalingua_Wrapper.My.MySettings>
            <setting name="MainScriptLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioSource" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProcDevice" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WebServerPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="WebServerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RamSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ForceRam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="EnglishTranslationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondaryTranslationLang" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryTranslationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HLSurl" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamChunkSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HLSShowOriginal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrophoneEnergyThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MicrophoneEnergyThresholdEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicCalTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MicCalTImeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicRecTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MicRecTimeoutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrophoneID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CaptionsSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieName" serializeAs="String">
                <value />
            </setting>
            <setting name="PhraseTimeOut" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PhraseTimeOutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Synthalingua_Wrapper.My.MySettings>
    </userSettings>
</configuration>
